<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye.dao.StockTradeDealMapper">
	<select id="getAll" resultType="StockTradeDeal">
		select * from StockTradeDeal
	</select>
	<insert id="save">
	insert into stocktradedeal (stockcode, name, price) values (#{stockCode}, #{name}, #{price})
	</insert>
</mapper>
