<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的 
	例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀) -->
<mapper namespace="com.ly.dao.ContentDao">


	<!-- <select id="findList" resultType="Content"> select * from content t1 
		left join Comment t2 on t1.cid = t2.contentId <where> <if test="cid != null"> 
		t.cid= #{cid}</if> </where> </select> -->


	<!--association 用法 https://blog.csdn.net/hbtj_1216/article/details/52876201?utm_source=blogxgwz0 -->
	<!--collection 用法 https://blog.csdn.net/zhuzhezhuzhe1/article/details/80588432?utm_source=blogxgwz1 -->

	<!-- https://blog.csdn.net/r834310840/article/details/23831349 -->
	<!-- https://blog.csdn.net/m0_37787069/article/details/79247321 -->
	<!-- https://www.cnblogs.com/selene/p/4627446.html -->
	<!-- https://blog.csdn.net/sinat_27115575/article/details/70155090 -->
	<!-- https://www.cnblogs.com/xdp-gacl/p/4264440.html -->
	<!-- https://blog.csdn.net/qq_33561055/article/details/78861131 本写法 -->
	<!-- //////////////////////////////////////////////一对多的第二种写法///////////////////////////////////////////////////// -->
	<!-- 查询所有的老师级各自的所有学生 -->
	<select id="findList" parameterType="Content" resultMap="contentMaps">
		SELECT
		*
		FROM
		content t
		<where>
			<if test="cid != null">t.`cid` = #{cid,jdbcType=VARCHAR}</if>
		</where>
	</select>

	<resultMap type="Content" id="contentMaps">
		<id column="cid" property="cid" />
		<result column="contents" property="contents" />
		<result column="publisher" property="publisher" />
		<result column="title" property="title" />
		<collection property="commentList" ofType="Comment" select="getComments"
			column="cid">
		</collection>

		<collection property="reduList" ofType="ReDu" select="getReduLists"
			column="cid">
		</collection>
	</resultMap>


	<select id="getComments" parameterType="String" resultMap="getUserInfosMap">
		select
		*
		from comment s left join user u on u.uid = s.userid
		<where>
			contentId =
			#{mid,jdbcType=VARCHAR} order by addtime desc
		</where>
	</select>



	<select id="getReduLists" parameterType="String" resultMap="getReduListsInfosMap">
		select reduContent from content c left join redu r on c.cid = r.cid
		<where>
			c.cid = #{mid,jdbcType=VARCHAR} order by addtime desc
		</where>
	</select>

	<resultMap type="reDu" id="getReduListsInfosMap">
		<id column="reduId" property="reduId" />
		<result column="reduContent" property="reduContent" />
		<result column="addTime" property="addTime" />

		<association property="user" javaType="User">
			<id column="uid" property="uid" />
			<result column="name" property="name" />
			<result column="pic" property="pic" />
			<result column="nickName" property="nickname" />
		</association>
	</resultMap>



	<resultMap type="comment" id="getUserInfosMap">
		<id column="comId" property="comId" />
		<result column="comments" property="comments" />
		<result column="addTime" property="addTime" />

		<association property="user" javaType="User">
			<id column="uid" property="uid" />
			<result column="name" property="name" />
			<result column="pic" property="pic" />
			<result column="nickName" property="nickname" />
		</association>
	</resultMap>













	<insert id="save">
		<selectKey keyProperty="count" resultType="int" order="BEFORE">
			select count(1) from content t
			<where>
				<if test="cid != null">t.`cid` = #{cid,jdbcType=VARCHAR}</if>
			</where>
		</selectKey>
		<if test="count > 0">
			update Content
			<trim prefix="set" suffixOverrides=",">
				<if test="contents != null">`contents` = #{contents, jdbcType=VARCHAR},</if>
				<if test="title != null">`title` = #{title,jdbcType=VARCHAR},</if>
				<if test="user != null">userId = #{user.uid,jdbcType=VARCHAR},</if>
				<if test="redu != null">redu = #{redu,jdbcType=INTEGER},</if>
				<if test="totalCommentSum != null">totalCommentSum = #{totalCommentSum,jdbcType=INTEGER},
				</if>
			</trim>
			<where>
				`cid` = #{cid,jdbcType=VARCHAR}
			</where>
		</if>
		<if test="count == 0">
			insert into content
			(
			`cid`,
			`title`,
			`contents`,
			`userId`,
			`redu`,
			`totalCommentSum`
			)
			values
			(
			#{cid,jdbcType=VARCHAR},
			#{title,jdbcType=VARCHAR},
			#{contents, jdbcType=VARCHAR},
			#{user.uid,jdbcType=VARCHAR},
			#{redu,jdbcType=VARCHAR},
			#{totalCommentSum,jdbcType=VARCHAR}
			)
		</if>
	</insert>
</mapper>